<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Watersched</title>
        <meta name="description" content="Watersched tells you when your house plants need to be watered next. Each plant has it's own schedule, so Watersched tracks each individually.">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- Typekit -->
        <script src="//use.typekit.net/mje2syf.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!-- Takana -->
        <!-- <script data-project="water-sched" src="http://localhost:48626/javascripts/edge.js"></script> -->
    </head>
    <body ng-app="watersched">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!--[if lt IE 9]>
            <script src="components/es5-shim/es5-shim.js"></script>
            <script src="components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <section ng-controller=PlantsCtrl>

            <article ng-repeat="plant in plants" class=plant>
                <header class=plant--header>
                    <div class="l-left">
                        <h2 class=plant--name>{{ plant.name }}</h2>
                        <p class=plant--water-every>Every {{ plant.cycle_duration }} Days</p>
                    </div>
                    <div class="l-right">
                        <button ng-click="removePlant(plant)" class="btn btn-danger plant--remove"><i class="icon-trash icon-white"></i></button>
                    </div>
                </header>
                <figure class=plant--sched>
                    <figcaption class=plant--sched--last>{{ plant.cycle_origin | date:'MMM d' }}</figcaption>
                    <b class=plant--sched--bar><b class=fill style="width: {{ cycle_remaining(plant) }}%;" ></b></b>
                    <figcaption class=plant--sched--next>{{ plant.cycle_destination | date:'MMM d' }}</figcaption>
                </figure>
                <button ng-click="waterPlant(plant)" class="btn btn-success btn-block plant--water t-uppercase">Water</button>
            </article>

            <!-- [§] -->

            <form class=add-plant ng-submit="addPlant()">
                <h2>Add A Plant</h2>
                <fieldset>
                    <label>Name</label>
                    <input ng-model=name type=text placeholder="Common name, fancy name or nickname" required>
                    <label>Watering Schedule</label>
                    <input ng-model="cycle_duration" type=number placeholder="How often it needs water" required>
                </fieldset>
                <footer class="form-actions">
                    <input type=submit class="btn btn-success btn-large" value="Add A Plant">
                </footer>
            </form>
        </section>

        <script src="components/angular/angular.js"></script>

        <script src="components/persistencejs/persistence.js"></script>
        <script src="components/persistencejs/persistence.store.sql.js"></script>
        <script src="components/persistencejs/persistence.store.websql.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/storage-service.js"></script>
        <script src="scripts/controllers/plants-controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
