// ASCII ART: http://patorjk.com/software/taag/ | Caligraphy Font
//
//      ***** *    **   ***                                                                        *                      **    
//   ******  *  *****    ***                  *                                                  **                        **   
//  **   *  *     *****   ***                **                                                  **                        **   
// *    *  **     * **      **               **                                                  **                        **   
//     *  ***     *         **             ********           ***  ****       ****               **                        **   
//    **   **     *         **    ****    ********     ***     **** **** *   * **** *    ****    **  ***      ***      *** **   
//    **   **     *         **   * ***  *    **       * ***     **   ****   **  ****    * ***  * ** * ***    * ***    ********* 
//    **   **     *         **  *   ****     **      *   ***    **         ****        *   ****  ***   ***  *   ***  **   ****  
//    **   **     *         ** **    **      **     **    ***   **           ***      **         **     ** **    *** **    **   
//    **   **     *         ** **    **      **     ********    **             ***    **         **     ** ********  **    **   
//     **  **     *         ** **    **      **     *******     **               ***  **         **     ** *******   **    **   
//      ** *      *         *  **    **      **     **          **          ****  **  **         **     ** **        **    **   
//       ***      ***      *   **    **      **     ****    *   ***        * **** *   ***     *  **     ** ****    * **    **   
//        ******** ********     ***** **      **     *******     ***          ****     *******   **     **  *******   *****     
//          ****     ****        ***   **             *****                             *****     **    **   *****     ***      
//                                                                                                      *                       
//                                                                                                     *                        
//                                                                                                    *                         
//                                                                                                   *                          




////////////////////////
// Variables & Mixins //
////////////////////////

@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';
@import 'compass/css3/inline-block';


// Colours

$dark-grey: rgb(60, 60, 60);
$mid-grey:  rgb(120, 120, 120);
$lite-grey: rgb(240, 240, 240);




/////////
// ... //
/////////


// § //







